* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", serif;
    font-size: 16px;
    background-color: #000000;
    color: #ffffff;
    overflow-x: visible;
    min-width: 280px;
}

img {
    width: 100%;
    border-radius: 10px;
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 900;
}

a:hover {
    color: #FF3D00;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: inherit;
    background-color: #141414;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    position: fixed;
}

.container {
    width: inherit;
    margin: 0 auto;
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    gap: 20px;
    padding: 5px 35px 5px 35px;
}

.wrapper-sidebar {
    padding-left: 15px;
    color: #8e8e8e;
    display: flex;
    flex-direction: column;
    max-width: 180px;
    min-width: 180px;
}

.navbar .search-container {
    display: grid;
    grid-template-columns: 200px 1fr 100px;
    grid-gap: 80px;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    width: inherit;
    padding: 0 36px 0 46px;
}

.nav-brand {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

.form-search {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    background-color: hsla(0, 0%, 100%, .15);
    border-radius: 10px;
    transition: all 0.9ms ease-in-out;
    max-width: 600px;
    position: relative;
}

#dropdown-container {
    position: absolute;
    top: 35px;
    background-color: white;
    color: #18181a;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: inherit;
}

.dropdown-list-movies {
    position: relative;
    color: #18181a;
    width: 100%;
    z-index: 1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px 0;
    border-radius: 10px;
    font-family: inherit;
}

.dropdown-movie-item {
    margin-top: 5px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 4px 18px;
}

.dropdown-movie-rating {
    font-size: 12px;
    color: #44C916;
    font-weight: 900;
}

.dropdown-movie-item:hover {
    background-color: rgba(190, 189, 189, 0.11);
    border-radius: 5px;
}

.dropdown-hidden {
    display: none;
}

#search-input {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 8px 4px 8px 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    background: transparent;
    font-family: inherit;
    flex-grow: 1;
}

.btn-search {
    opacity: 0.4;
    padding: 0 8px;
    cursor: pointer;
    background: transparent;
}

.wrapper-join-column {
    display: flex;
    flex-direction: column;
}

.wrapper-join-row {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.wrapper-col-1 {
    max-width: 450px;
    min-width: 200px;
}

.wrapper-col-2 {
    max-width: 620px;
    min-width: 270px;
}


.wrapper-col-3 {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    min-width: 50px;
    margin-right: 10px;
    margin-left: 20px;
}

.types-search {
    display: flex;
    flex-direction: column; 
    margin-bottom: 30px; 
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 900;
    border-bottom: 1px solid rgba(171, 169, 169, 0.3);   
}

.types-search div, .types-search span, .year-search span {
    cursor: pointer;
    transition: all 400ms ease-in-out;
    margin-bottom: 15px;
}

.types-search div:hover, .year-search span:hover, .types-search span:hover {
    color: #FFFFFF;
    scale: 1.1;
}

.year-search {
    display: flex;
    flex-direction: column; 
    margin-bottom: 30px; 
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 900;
    border-bottom: 1px solid rgba(171, 169, 169, 0.3);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.genres-search {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    font-family: inherit;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(171, 169, 169, 0.3);
    padding-bottom: 30px;
    margin-bottom: 30px;   
}

.genres-search span {
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.genres-search span:hover {
    color: #FFFFFF;
    scale: 1.1;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 10px;
    padding-top: 20px;
    line-height: 42px;
}

.subtitle {
    margin-bottom: 10px;
    /*opacity: 0.4;*/
    line-height: 19px;
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
}

.description {
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #FF5C00;
    color: white !important;
    border-radius: 30px;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    transition: all 200ms ease-in-out;
}

.btn:hover {
    background-color: #FF3D00;
    color: white;
}

.mb-40 {
    margin-bottom: 40px;
}

.params {
    list-style-type: none;
}

.params li {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-gap: 30px;
    width: 100%;
    font-size: 14px;
}


.tag {
    font-size: 12px;
    font-weight: 400;
    padding: 3px 5px;
    border-radius: 6px;
    border: 1px solid #FFFFFF;
    display: inline-block;
    margin-top: -3px;
}

.text-muted {
    opacity: 0.4;
}

.rating-main {
    display: block;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #44C916;
}

.rating-counts {
    display: block;
    margin-bottom: 10px;
    line-height: 19px;
    color: #8e8e8e;   
}

.rating-details {
    display: inline-block;
    
}

.kinobox_player {
    margin-top: 150px;
    border: none;
}

select {
    margin-bottom: 10px;
    width: 150px;
    padding: 4px;
    border-radius: 3px;
    border-color: #aaa;
    background-color: #000000;
    color: #aaa;  
}

#favorites-list { 
    font-weight: 900;
    color: #8e8e8e;  
}

#add-to-favorites {
    padding: 2px 4px;
    color: #8e8e8e;
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    cursor: pointer;
    float: right;
    margin-right: auto;
    transition: all 50ms ease-in-out;
}

#add-to-favorites:hover {
    color: #FF3D00;
    scale: 1.05;
    text-decoration-line: underline;
}

#favorites-img {
    margin: 0;
    padding-left: 5px;
    padding-top: 2px;
    display: flex;
}


.favorite-movie-item {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    padding-bottom: 15px;
    cursor: pointer;
}

.favorites-title {
    margin-top: 100px;
    margin-bottom: 16px;
    color: #8e8e8e;
   
}

#favorite-movie-poster {
    transition: all 200ms ease-in-out;
    padding-bottom: 4px;
}   

#favorite-movie-poster:hover {
    scale: 1.05;   
}


#film-list-group {
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
    gap: 20px;
}

.film-list-group div {
    max-width: 200px;  
    transition: all 200ms ease-in-out; 
}

.film-list-group div:hover {
    scale: 1.04;

}

.film-list-group img {
    max-width: 200px; 
    height: 280px;
    cursor: pointer;
}

.film-list-group span {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.video-is-undefined {
    text-align: center;
    font-size: 30px;    
    border: 1px solid rgba(171, 169, 169, 0.3);
    padding-top: 200px;
    padding-bottom: 200px;
    border-radius: 10px;
}

ion-icon {
    contain: unset;
}

.chosen {
    padding: 2px 4px;
    border-radius: 5px;
    scale: 1.05;
    color: white;
    background-color: rgba(171, 169, 169, 0.2);
}